@charset "UTF-8";

/*tablet*/
@media screen and (min-width:768px) and (max-width:992px) {
    main{
        height: 90vh;
    }

    body{
        background-image: linear-gradient(to top, #01401C 50%, #025920, #02731E, #4BA632);
    }

    section#login{
        width: 80vw;

    }

    section#login > div#img{
        float: left;
        width: 30%;
        height: 100%;
    }

    section#login > div#form{
        float: right;
        width: 70%;
    }

    div#form > p{
        font-size: 0.95em;
        margin-bottom: 50px;
        text-align: center;
    }
}


/*Computador*/
@media screen  and (min-width:992px){
    main{
    height: 90vh;
}

    body{
        background-image: linear-gradient(to top, #01401C 50%, #025920, #02731E, #4BA632);
    }

    section#login{
        width: 950px;

    }

    section#login > div#img{
        float: right;
        width: 50%;
        height: 100%;
    }

    section#login > div#form{
        float: left;
        width: 50%;
    }

    div#form > p{
        font-size: 1.2em;
        margin-bottom: 50px;
        text-align: center;
    }
    
}